<section class="articles">
  <header>
    <h3>Trends</h3>
  </header>

  <div class="mrec-article">
    <a href="/#">
      <figure>

        <img class="image-featureimage" src="http://images.shoptopia.com/mcache/320x220/mf_spotlight/3.13-Movies_thumbnail_video.jpg" alt="At the Movies July 17th">
        <figcaption class="article-info">
          <h4>At the Movies July 17th</h4>

          <p>This week at the movies: Amy Schumer’s big screen debut and Paul Rudd’s debut as a superhero...</p>

          <span class="link">Read More</span>
        </figcaption>

      </figure>

    </a>
  </div>

  <div class="mrec-article">
    <a href="/#">
      <figure>

        <img class="image-featureimage" src="http://images.shoptopia.com/mcache/320x220/mf_spotlight/7.16-A-VIDEOwearingwhite_thumbnail_video.jpg" alt="Fashion Over 40 - Why Wearing White Works [video]">
        <figcaption class="article-info">
          <h4>Fashion Over 40 - Why Wearing White Works [video]</h4>

          <p>Sometimes women of a certain age think about wearing white but hold back from doing so because they think it will make them look fat, pale or washed out. Well, that doesn’t have to be the case...</p>

          <span class="link">Read More</span>
        </figcaption>

      </figure>
    </a>
  </div>

  <div class="mrec-article">
    <a href="/#">
      <figure>

        <img class="image-featureimage" src="http://images.shoptopia.com/mcache/320x220/mf_spotlight/7.15-A-PackforaWeekTrip_thumbnail.jpg" alt="Pack For a Week Away">
        <figcaption class="article-info">
          <h4>Pack For a Week Away</h4>

          <p>Here are our tips for how much and what to pack, keeping you looking tidy and feeling good for an entire, seven-day week away…</p>

          <span class="link">Read More</span>
        </figcaption>

      </figure>
    </a>
  </div>
</section>
