@charset "UTF-8";

.clear {
	clear: both;
}

.relative {
	position: relative;
}

.center {
	@include center;
}

.left {
	float: left;
	left: 0;
}

.right {
	float: right;
	right: 0;
}

.no-margin {
	margin: 0 !important;
}

.fixed-top {
	position: fixed;
	top: 0;
	bottom: initial;
	background-color: $color-brand-primary;
	max-height: 62px;
	overflow: visible;

	ul.menu li a{
		@include padding($base-spacing * 1.3 $base-spacing * 0.85);
		@include media($tablet) {
			@include padding($base-spacing * .75 $base-spacing);
		}
	}
	.search {
		top: 16px;
		width: 165px;
	}
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}

// Font Size Helpers
@for $i from 10 through 60 {
	.fs#{$i} {
		@include font-size($i);
		@include media($tablet) {
			@include font-size($i * .875)
		}

		@include media($mobile) {
			@include font-size($i * .75)
		}
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
	clear: both;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-bold {
	font-weight: 700;
}

.image-left {
	float: left;
	margin-right: $base-spacing;
}

.image-center {
	@include margin(0, auto);
	text-align: center;
}

.image-right {
	float: right;
	margin-left: $base-spacing;
}

.box {
	@include margin(0, 0, $base-spacing, 0);
	@include padding($base-spacing);
	@include border-radius;
	border: 1px solid $color-dark-grey;
	background: $color-light-grey;

	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 0;
	}
}

.border-radius {
	@include border-radius;
}

.bordered-solid {
	@include padding($base-spacing);
	border: 1px solid $color-grey;
}

.bordered-dotted {
	@include padding($base-spacing);
	border: 1px dotted $color-grey;
}

.bordered-left,
%bordered-left {
	padding-left: $site-gutter-width;
	border-left: 1px dotted $color-grey;
}

.bordered-left-dark {
	@extend %bordered-left;
	border-left: 1px solid $base-font-color;
}

.bordered-right,
%bordered-right {
	padding-right: $site-gutter-width;
	border-right: 1px dotted $color-grey;
}

.bordered-right-dark {
	@extend %bordered-right;
	border-right: 1px solid $base-font-color;
}

.nowrap {
	overflow: hidden;
}

.hidden,
.desktop-hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.no-fouc {
	display: none;
}

.js-last {
	border-bottom: 0;
}

.desktop-br { display: block; }

// Text Truncation

[class*='truncate'] {
	overflow: hidden;
	margin-bottom: $base-spacing;
}

@include media($tablet) {
	.tablet-hidden {
		display: none !important;
	}

	.desktop-hidden {
		display: block;
	}

	.tablet-br {
		display: block;
	}

	.bordered-left,
	.bordered-right {
		@include padding(0);
		border: 0;
	}
}

.mobile-show {
	display: none;

	@include media($mobile) {
		display: inline-block;
	}
}

@include media($mobile) {

	.mobile-hidden {
		display: none !important;
	}

	.mobile-full {
		display: block;
		float: none;
	}

	.mobile-br {
		display: block;
	}
}
