// =Calendar
$calendar-day-bg: #e1e1e1;
$calendar-day-hover-bg: $color-brand-primary;
$calendar-day-hover-text-color: $color-white;
$current-month-bg: $color-mid-grey;
$current-month-text-color: $color-white;
$current-day-border: $color-brand-primary;
$day-has-event-bg: $color-brand-septenary;
$day-has-event-text-color: $color-white;
$calendar-month-text-color: $color-black;
$calendar-prev-next: $color-black;
