// =Alpha
$site-alpha: .65;
$secondary-alpha: .45;

// =Colors
$color-white: #fff;
$color-off-white: #f2f2f2;
$color-black: #000;
$color-grey: #999;
$color-light-grey: #cecece;
$color-mid-grey: #bfbfbf;
$color-dark-grey: #666;
$color-pre-green: #3eb633;

// =Brand Palette
$color-brand-primary: #2b85d3; // Headings
$color-brand-secondary: #283347; // Text
$color-brand-tertiary: #e4d9cc; // Background
$color-brand-quaternary: #1f9d94; // Accent yellow
$color-brand-quinary: #e65a4a; // Accent grey
$color-brand-senary: #ffda3a; // Accent yellow
$color-brand-septenary: #748791;

$color-brand-primary-complimentary: white;
$color-brand-secondary-complimentary: white;
$color-brand-tertiary-complimentary: black;
$color-brand-quaternary-complimentary: #ffda3a;
$color-brand-quinary-complimentary: #ebebeb;
$color-brand-senary-complimentary: #ffda3a;
$color-brand-septenary-complimentary: #c2c2c2;

$color-primary-red: red;
$color-primary-green: green;
$color-primary-blue: blue;

// =Background
$site-bg: $color-brand-tertiary;
$site-bg-start: $color-brand-tertiary;
$site-bg-end: #fff;
$site-background-attachment: null; // 'fixed, local, inherit, or null'

// =Default Text Colors
$base-font-color: $color-brand-secondary;
$base-accent-color: $color-brand-tertiary;
$heading-color: $color-brand-primary;
$heading-color-alt: $color-brand-quaternary;

// =Supplementary Colors
$alert-bg: $color-primary-red;
$alert-color: $color-primary-red;
$success-bg: $color-primary-green;
$success-color: $color-primary-green;
$info-bg: mix($color-brand-primary, $color-white, 20%);
$info-color: $color-primary-blue;
