// =Footer
$footer-bg: $color-white;
$footer-font-size: $disclaimer-text;
$footer-link-font-weight: 700;
$footer-text: $color-grey;
$footer-link-color: $footer-text;
$footer-link-color-hover: $color-light-grey;
