// =Modals
$modal-header-bg: $color-light-grey;
$modal-header-color: $base-font-color;
$modal-body-bg: $color-white;
$modal-body-color: $base-font-color;
$modal-link-color: $base-link-color;
$modal-link-color-hover: $base-link-color-hover;
$modal-footer-bg: $color-light-grey;
$modal-footer-color: $base-font-color;
