$base-spacing: 2rem !default;
$pad: $base-spacing;

// =Grid settings
$gutter: $base-spacing / 2;
$grid-columns: 12;
$max-width: 1000px;

// =Breakpoints
$desktop: new-breakpoint(min-width 1026px 12);
$tablet: new-breakpoint(max-width 1199px 8);
$mobile: new-breakpoint(max-width 600px 4);
