@mixin horizontal-gradient($startColor, $to, $endColor: 100%) {
  /* fallback/image non-cover color */
  background: $startColor;
  background: -moz-linear-gradient(left, $startColor 0%, $to $endColor);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, $startColor), color-stop($endColor, $to));
  background: -webkit-linear-gradient(left, $startColor 0%, $to $endColor);
  background: -o-linear-gradient(left, $startColor 0%, $to $endColor);
  background: -ms-linear-gradient(left, $startColor 0%, $to $endColor);
  background: linear-gradient(to right, $startColor 0%, $to $endColor);
}
