@mixin icon($icon) {
  @include font-family($fontawesome);
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  content: $icon;
}

@mixin icon-before($icon, $padding: $base-spacing/4, $font-size: $base-font-size) {
  &::before {
    @include icon($icon);
    @include font-size($font-size);
    padding: 0 $padding;
  }
}

@mixin icon-after($icon, $padding: $base-spacing/4, $font-size: $base-font-size) {
  &::after {
    @include icon($icon);
    @include font-size($font-size);
    padding: 0 $padding;
  }
}
