// Vertical List Items
@mixin vertical-list($arg: null) {
  > li {
  	@include inline-block;
    @include padding(($base-spacing / 2) 0);
    width: 100%;
  }

  @if $arg == lined {
    & > li {
      border-bottom: 1px solid lighten($color-dark-grey, 40%);

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

@mixin horizontal-list($arg: null) {
  li {
    display: inline;

    @if $arg == piped {
      @include padding(0);

      &:after {
        content: '|';
        @include padding(0 .25em 0 .5em);
      }

      &.js-last:after {
        content: '';
      }
    }

    @if $arg == slashed {
      @include padding(0);

      &:after {
        content: '/';
        @include padding(0 ($base-spacing / 2));
      }

      &.js-last:after {
        content: '';
      }
    }

    @if $arg == spaced {
      margin-left: $base-spacing;

      &.js-first:after {
        margin-right: 0;
      }
    }
  }
}

@mixin bulleted {
  ~ ul {
    margin-bottom: 0;
  }

  li {
    list-style: outside disc;
    margin-left: 1.25em;
    border-bottom: 0;
  }
}

@mixin reset-list {
  display: inline;
}
