@charset "UTF-8";

// Colors
$colors: (
  'black': $color-black,
  'dark-grey': $color-dark-grey,
  'grey': $color-grey,
  light-grey: $color-light-grey,
  'white': $color-white,
  off-white: $color-off-white,
  text: $base-font-color,
  link: $base-link-color,
  info: $info-color,
  success: $success-color,
  error: $alert-color,
  is-error: $alert-color,
  warning: $alert-color,
  muted: $color-light-grey,
  brand-primary: $color-brand-primary,
  brand-secondary: $color-brand-secondary,
  brand-tertiary: $color-brand-tertiary,
  brand-quaternary: $color-brand-quaternary,
  brand-quinary: $color-brand-quinary,
  primary-red: $color-primary-red,
  primary-green: $color-primary-green,
  primary-blue: $color-primary-blue,
  brand-primary-complimentary: $color-brand-primary-complimentary,
  brand-secondary-complimentary: $color-brand-secondary-complimentary,
  brand-tertiary-complimentary: $color-brand-tertiary-complimentary,
);

@each $color, $color-value in $colors {
  .color-#{$color},
  .bg-#{$color} {
    background-color: $color-value;
  }
  .text-#{$color} {
    color: $color-value;
  }
}

// Typography Colors
.text {
  color: $base-font-color;
}

// ie9 (.ie9)
.ie9 .gradient { filter: none; }

.ie9 [class*="gradient"] {
  filter: none;
}
