@charset "UTF-8";

a {
  @include margin(0);
  @include padding(0);
  background-color: transparent;
  vertical-align: baseline;
  font-family: inherit;
  color: $base-link-color;
  text-decoration: $base-link-text-decoration;
  cursor: pointer;
  @include transition;

  &.logo {
    color: inherit;
    &:hover {
      border-bottom: none;
    }
  }

  img {
    border: 0 none;
    text-decoration: none;
  }

  &:hover {
    color: $base-link-color-hover;
  }

  &.muted,
  .muted & {
    color: $color-light-grey;
  }

  &:active,
  &:hover {
    outline: 0;
  }

  &[href^="http://"],
  &[href^="https://"] {
    color: $link-external-color;

    &:hover {
      color: $link-external-color-hover;
    }
  }
}

// Email links
a[href^="mailto"] {
  font-weight: normal;
  color: $email-link-color;
  text-decoration: $email-text-decoration;
  @include transition;

  &:before {
    content: attr(data-cta);
  }

  &:hover:before {
    content: attr(title);
  }
}

// Phone links
a[href^="tel"] {
  font-weight: normal;
  color: $phone-link-color;
  text-decoration: $phone-text-decoration;
  @include transition;
}

