@charset "UTF-8";

.btn,
.button,
button,
.cta {
	@include inline-block;
	@include margin(0);
	@include padding($base-spacing/2 $base-spacing);
	@include font-family($button-font-family);
	@include font-size(16);
  @include transition;
  bottom: $base-spacing/2;
  background-color: $base-button-color;
  font-weight: 200;
  color: $color-white;
  min-width: 3em;
  border: 0;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  text-transform: $button-text-transform;
  letter-spacing: .075em;

  a & {
    color: $color-white;
  }

  &:hover {
    background-color: $base-button-color-hover;
    color: $color-white;
  }

  &:focus {
    background-color: $base-button-color-hover;
    background-image: 0;
    outline: none;
  }

  &.btn-primary,
  &.button-primary {
    background: $base-button-color;
    color: $color-white;

    &:hover {
     background: $base-button-color-hover;
   }
 }

 &.btn-error {
  background: $color-primary-red;
  color: $color-white;

  &:hover {
   background: lighten($color-primary-red, 25%);
 }
}

&.btn-success {
  background: $color-primary-green;
  color: $color-white;

  &:hover {
   background: $color-primary-green;
 }
}

&.btn-info {
  background: $color-primary-blue;
  color: $color-white;

  &:hover {
   background: lighten($color-primary-blue, 20%);
 }
}

&.btn-black {
  background: $color-black;
  color: $color-white;

  &:hover {
   background: $color-grey;
 }
}

&:disabled,
&.js-disabled,
&.disabled {
  cursor: default;
  background: $color-light-grey;
  color: $base-font-color;
  pointer-events: none;

  &:hover,
  &:active {
   background: $base-button-color-hover;
 }
}

&.block {
  display: block;
  width: 100%;
  text-align: center;
}

&.btn-xl {
  @include padding(.75em, ($base-spacing * 2));
}

&.btn-lg {
  @include padding(.5em, ($base-spacing * 1.5));
}

&.btn-sm {
  min-width: 0;
  @include padding(($base-spacing / 6), ($base-spacing / 1.5));
}

@media (max-width: $mobile) {
  &.mobile-full {
   display: block;
   width: 100%;

   a {
    display: block;
    text-align: center;
  }

  & + & {
    margin-top: $base-spacing;
  }
}

}
}

.cta {
	@include box-shadow(inset 0 0 0 .125em $color-white);
	color: $color-white;

	&:hover {
		background: none;
		@include box-shadow(inset 0 0 0 .125em $color-light-grey);
		color: $color-light-grey;
	}
}

@-webkit-keyframes rotation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}

.progress {
	&:active,
	&.js-active {
		i:before {
			display: inline-block;
			animation: rotation 1.5s infinite linear;
		}
	}
}

/* Firefox */

@-moz-document url-prefix() {
  // Remove button padding in FF
  button::-moz-focus-inner {
  	@include padding(0);
  	border: none;
  }

  input {
  	&[type="button"]::-moz-focus-inner,
  	&[type="submit"]::-moz-focus-inner,
  	&[type="reset"]::-moz-focus-inner {
  		@include padding(0);
  		border: none;
  	}
  }
}

// ie (.ie)
// make buttons play nice in IE
.ie button {
	overflow: visible;
	width: auto;
}

// Google search on 404
.search-goog {
	input[type='text'] {
		border: 1px solid $color-light-grey !important;
		padding: .5em !important;
		margin-bottom: .5em !important;
	}

	input[type='submit'] {
		@extend .btn;
		@extend .btn-primary;

		&:hover {
			color: $color-white;
		}
	}
}

input[type='submit'] {
  @extend .btn;
}

.facebook-button {
  @extend button;
  @include padding($base-spacing/2 $base-spacing);
  @include border-radius(0 $base-border-radius $base-border-radius 0);
  position: relative;
  margin: 0 auto;
  background-color: #567ac9;
  text-align: center;
  color: $color-white;

  &:before {
    @include padding($base-spacing/2 $base-spacing/1.5);
    @include border-radius($base-border-radius 0 0 $base-border-radius);
    @include font-family($fontawesome);
    @include font-size(18);
    @include transition;
    position: absolute;
    display: block;
    top: 0;
    left: -$base-spacing*1.5;
    background-color: #1f479c;
    color: $color-white;
    content:"\f09a";
    height: 100%;

    @include media($mobile) {
      line-height: 2;
    }
  }

  &:hover {
    background-color: #1f479c;

    &:before {
      background-color: #567ac9;
    }
  }
}
