.flag {
  @include inline-block;
  @include margin(0);
  @include padding($base-spacing/2);
  @include font-family($base-font-family-alt);
  @include font-size(10);
  @include transition;
  border: 1px solid $flag-red;
  background-color: $flag-red;
  font-weight: 200;
  color: $color-white;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .075em;
}

// All expirations
.notice- {
  &ends-today,
  &ends-tomorrow,
  &ends-within-week,
  &ends-outside-week {
    @extend .flag;
  }
}

// Expiring within the week
.notice- {
  &ends-within-week {
    background-color: $flag-red;
    color: $color-white !important;
  }
}

// Expiring outside of a week
.notice- {
  &ends-outside-week {
    border: 1px solid $flag-grey !important;
    background-color: $flag-grey !important;
    color: $flag-grey-text !important;
  }
}

.store-has-deals,
.store-has-events {
  @extend .flag;
}

.store-has-events {
  h3 {
    background-color: #ecd42b !important;
    color: $base-font-color !important;
  }
}
