@charset "UTF-8";

video {
  display: inline-block;
  top: 0;
  left: 0;
  max-width: 100%;
  @include margin(0);

  @include media($mobile) {
    video {
      height: auto;
    }
  }

  figure & {
    margin-bottom: $base-spacing;
  }
}
