---
title: Style Guide
heading: Style Guide
class: styleguide
---

<section>

  {{> about}}

  <hr>

  <article>

  <h2>Typography</h2>
  {{> headings}}

  <hr>

  {{> body-text}}

  <hr>

  {{> inline-text}}

  <hr>

  {{> fonts}}

  <hr>

  {{> buttons}}

  <hr>

  {{> ctas}}

  <hr>

  {{> lists}}

  <hr>

  <h2>Forms</h2>
  {{> forms}}

  <hr>

  {{> tables}}

  <hr>

  {{> images}}

  </article>

  <aside>
  <h2>Colors</h2>
  {{> base-colors}}

  <hr>

  {{> base-grayscale}}

  <hr>

  {{> typography-colors}}

  <hr>

  {{> global-colors}}

</aside>

</section>
