@charset "UTF-8";

.modal {
	.modal-container {
		display: none;
		position: fixed;
		overflow: visible;
		top: 50%;
		left: 0;
		right: 0;
		height: auto;
		width: 40em;
		max-width: 90%;
		margin: auto;
		margin-top: -16em;
		@include border-radius;
		background: none repeat scroll 0 0 #fff;
		color: $base-font-color;
		z-index: 99999;

		> .modal-content {
			@include box-shadow(0 0 5px 2px #555);
		}
	}

	.modal-close {
		position: absolute;
		right: 1rem;
		@include font-size(40);
		cursor: pointer;
	}

	.modal-header {
		@include padding(1em);
		@include border-radius($base-border-radius $base-border-radius 0 0);
		background: #f0f2f5;

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
		}
	}

	.modal-body {
		overflow: auto;
		max-height: 25em;
		@include padding(1em);

		@include media($mobile) {
			max-height: 15.625em;
		}
	}

	.modal-footer {
		overflow: auto;
		@include padding(1em);
		@include border-radius(0 0 $base-border-radius $base-border-radius);
		background: #f0f2f5;
	}
}

.modal-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	zoom: 1;
	@include opacity(.5);
	z-index: 9999;
}

.modal-button {
	cursor: pointer;
}
