{{> head }}
<div class="outer-wrapper">
	<div class="inner-wrapper">

		{{> header }}

      {{> body }}

		{{> footer }}

    <div class="loadtime"></div>
    <div class="viewport"></div>

	</div>
</div>
{{> foot }}
