{{> head }}
<div class="outer-wrapper">
	<div class="inner-wrapper">

    <div class="reveal-wrapper">

      {{> header }}

      {{> content }}

        {{> body }}

      {{> end_content }}

      {{> footer }}

    </div>

    <div class="loadtime"></div>
    <div class="viewport"></div>

  </div>
</div>
{{> foot }}
