<span id="typography-anchor" class="h2 jumpTo-anchor">Typography</span>

<!-- <div class="right">
  <a class="btn btn-primary" href="typography">Isolate</a>
</div> -->

<div class="box-column clear">

{{> styleguide_typography_fonts }}

<hr>

{{> styleguide_typography_headings }}

<hr>

{{> styleguide_typography_body_text }}

<hr>

{{> styleguide_typography_inline_text }}

<hr>

{{> styleguide_typography_icons }}

<hr>

{{> styleguide_typography_text_alignment }}

</div>
