---
title: Privacy
description: ""
class: info
parent: info
---

<h1>Privacy Policy</h1>

<article>
  <p>This Website,
    <a href="http://www.towercitycenter.com/">http://www.towercitycenter.com/</a>, is owned and operated by Forest City Enterprises.</p>
  <p>We know that your privacy is important to you, and we work hard to earn and keep your trust. We have created this Policy to let you know what information, including Personal Information, we collect when you use this Website, how we use
    and share the information we collect, and how we protect your privacy.</p>
  <p>This Website is the property of Forest City Enterprises and its affiliated shopping center owner or management company. The Website is managed and operated on their behalf by PlaceWise Media.</p>
  <p>
    <a class="privacyAnchors" name="ContactInfomation"></a>
    All communications, questions or concerns about the Privacy Policy should be addressed to Forest City, Terminal Tower, 50 Public Square, Suite 700, Cleveland, OH 44113 or email
    <a href="mailto:dataprivacyoffice@forestcity.net">dataprivacyoffice@forestcity.net</a> .</p>
  <p> <em>Table of Contents</em>
  </p>
  <ul>
    <li> <a href="#EffectiveDate">Effective Date</a>  </li>
    <li> <a href="#YourConsent">Your Consent</a>  </li>
    <li> <a href="#PartOfTerms">This Policy is Part of Our Terms of Use</a>  </li>
    <li> <a href="#PrivacyNotices">Privacy Notices</a>  </li>
    <li> <a href="#InfoWeCollect">Types of Information We Collect &amp; INsider Program</a>  </li>
    <li> <a href="#BirthdayRules">Birthday Rewards Rules</a>  </li>
    <li> <a href="#ThirdPartyCookies">Third-Party Cookies</a>  </li>
    <li> <a href="#UsingPersonalInformation">How We Use Personal Information</a>  </li>
    <li> <a href="#YourChoices">Your Choices</a>  </li>
    <li> <a href="#YourPersonalInformation">How to Access, Update or Correct Your Personal Information</a>  </li>
    <li> <a href="#SafeguardingInformation">Steps We Take to Safeguard your Personal Information</a>  </li>
    <li> <a href="#SharingPersonalInformation">How We Share Your Personal Information With Others</a>  </li>
    <li> <a href="#Children">Children&#39;s Privacy</a>  </li>
    <li> <a href="#Links">Links to Other Websites</a>  </li>
    <li> <a href="#PolicyChange">This Policy May Change</a>  </li>
    <li> <a href="#Definitions">Definitions</a>  </li>
  </ul>
  <p>
    <a class="privacyAnchors" name="EffectiveDate"></a>
    <em>Effective Date</em>
    <br>October 29, 2014</p>
  <p>
    <a class="privacyAnchors" name="YourConsent"></a>
    <em>Your Consent</em>
    <br>Please take a few minutes to review this Policy before using this Website. By using this Website you are consenting to the collection, use, and disclosure of your information, including your Personal Information, as set forth in this
    Policy. If you do not agree to be bound by this Policy, you may not access or use this Website.</p>
  <p>
    <a class="privacyAnchors" name="PartOfTerms"></a>
    <em>This Policy is Part of Our Terms of Use</em>
    <br>This Policy is part of the Terms of Use
    <a href="#TermsOfUseLink#">Terms of Use</a> that govern your use of this Website. A link to our Terms of Use
    <a href="#TermsOfUseLink#">Terms of Use</a> is provided at the bottom of each page of this Website.</p>
  <p>
    <a class="privacyAnchors" name="PrivacyNotices"></a>
    <em>Privacy Notices</em>
    <br>This Policy may be supplemented or amended from time to time by &quot;privacy notices&quot; posted on this Website. These Privacy Notices provide a level of detail that we cannot provide in this more general description of our privacy
    practices. For example, certain pages of this Website may contain Privacy Notices providing details about the information we collect on those pages, why we need that information, and choices you may have about the ways we use that
    information.</p>
  <p>
    <a class="privacyAnchors" name="InfoWeCollect"></a>
    <em>Types of Information We Collect &amp; INsider Program</em>
    <br> <em>Information You Provide.</em> .
    <a href="http://www.towercitycenter.com/">http://www.towercitycenter.com/</a> collects the information you provide when you use your keyboard, mouse, or touchpad to submit information through this Website. For example, we collect information you submit when you register with
    this Website, participate in a contest, purchase gift cards or other products, sign up for our newsletters, comment on a news item, respond to our surveys, or correspond with us. Some of the information you provide may be Personal
    Information, such as your name and contact information.</p>
  <p> <em>INsider Program</em>  Provides services to Tower City Center customers that may include retailer discounts, prize promotions, shopping guides, and event information (collectively the &quot;Services&quot;). In order to use and participate
    in these Services you may be required to register and provide personally identifiable information such as your name, address, birth date, email address and/or cell phone number, and possibly volunteer other information including but
    not limited to providing valid Government issued identification to verify personal information (collectively &quot;User Information&quot;).</p>
  <p> <em>Age Limit</em>  You must be 13 or older to register for these INsider Programs. Forest City Enterprises encourages parents to be informed about the potential dangers of providing personal information on any digital platform and to
    take an active role in their children&#39;s use of the Internet.</p>
  <p> <em>Registration / Opting-out / Changing Information</em>  During the registration process you may elect to receive email and/or text messages from INsider. Your preferences and User Information can be updated in the profile section when
    you log in to INsider.
    <ul>
      <li>To opt-out of receiving email from The INsider, click &quot;unsubscribe&quot; in any email received from INsider and follow instructions if applicable.</li>
      <li>To opt-out of receiving text messages including SMS or MMS from INsider, text &quot;STOP&quot; to 55800 from the mobile phone number you registered with us.</li>
    </ul>
  </p>
  <p>If you Opt-Out of an INsider Program you may remain an entrant in certain contests or sweepstakes, please refer to the Official Rules of the promotion you entered for complete details.</p>
  <p>
    <a class="privacyAnchors" name="BirthdayRules"></a>
    <em>Birthday Rewards Rules</em>  You must be an INsider and be part of the NowNews email list. In order to receive your Birthday Reward you need to have registered one month prior to your birth month. For complete rules and regulations
    <a
    href="http://www.towercitycenter.com//officialbirthdayrules">click here.</a>
  </p>
  <p> <em>Information From Third-Party Social Media Platforms</em> . You may be able to register with, log on to, or enhance your profile on this Website by choosing to automatically populate the requested data fields with information you previously
    provided to a third-party social media platform (such as Facebook or Twitter). By doing this, you are asking the third-party platform to send us information, including personal information, from your profile on that platform. We treat
    that information as we do any other information you give to us when you register, log on, or enhance your profile.</p>
  <p> <em>Information Provided to Us by Your Web Browser</em> . We collect information that is provided to us automatically by your web browser or mobile device. This information typically includes your internet protocol (or &quot;IP&quot;)
    address, the identity of your Internet service provider, the name and version of your operating system, the name and version of your browser, the date and time of your visit, and the pages you visit. The information we receive may
    depend on your browser or device settings.</p>
  <p>The information we receive from your web browser and/or device is not, in and of itself, personally identifiable. Generally, we use this information in the aggregate to help us improve this Website and make it more compatible with the
    technology used by our visitors. However, we may combine it with other information in an attempt to identify you or we may combine it with information that does identify you. We may also review our server logs for security purposes-for
    example, to detect intrusions into our network-and we might share our server logs, which contain visitors&#39; IP addresses, with the appropriate investigative authorities who could use that information to trace and identify you.</p>
  <p> <em>Information Collected by Cookies and Other Technologies.</em>  We use &quot;cookies&quot; and other technologies to collect information and support certain features of this Website. For example, we may use these technologies to access
    information about the ways visitors use this Website or browse the internet-which pages they visit, which links they use, and how long they stay on each page. The use of these technologies supports the features and functionality of
    this Website (saves you the trouble of re-entering information already in our database or prompts the settings you established on previous visits); personalizes your experience when you use this Website; and improves our marketing
    efforts, including through use of targeted advertising.</p>
  <p>The information we collect using cookies and similar technologies is not, in and of itself, personally identifiable, but we may link it to personal information that you provide. If you do not wish to receive cookies, you may be able
    to set your browser to reject cookies or other similar tracking technologies or to alert you when a cookie is placed on your computer. Although you are not required to accept cookies when you visit this Website and you may be able
    to use &quot;Do Not Track&quot; features of your browser, you may be unable to use all of the functionality of this Website if your browser rejects our cookies.</p>
  <p> <em>Your Location</em> . Using GPS, wifi, Bluetooth and similar technologies, and with your opt-in consent, we also may collect real-time location information from your mobile device and use that information to deliver tailored content
    through this Website. For example, if we recognize that you are near a particular shopping center, we may send a message to your mobile device letting you know about a sale taking place at that shopping center. We also may share information
    about your location with your friends and other contacts, to the extent you interact with them using the social networking tools available on this Website. Assuming your device is set to transmit location information from your mobile
    device, our mobile website may collect such information even if you are not logged into it. We also may use location information to analyze the movement of shoppers through our mall to improve the shopping experience and mall operations.
    We do not link this information to a particular shopper or device, but instead measure general traffic patterns.</p>
  <p>Your mobile device may allow you to adjust your settings so that location information is not available to any mobile website or application. If you have questions about the security and privacy settings of your mobile or tablet device,
    please refer to instructions from your mobile service provider or the manufacturer of your device.</p>
  <p>The information we receive from your mobile device is not personally identifiable, but we may link it to information that could identify you.</p>
  <p>
    <a class="privacyAnchors" name="ThirdPartyCookies"></a>
    <em>Third-Party Cookies</em>
    <br>In addition to the cookies Tower City Center delivers to your computer through this Website, certain third parties may deliver cookies to your computer for a variety of reasons. For example, we use Google Analytics, a web analytics
    tool that helps us understand how visitors engage with this Website. To learn more about Google Analytics,
    <a href="http://www.google.com/analytics/learn/privacy.html">click here</a> .</p>
  <p>Other third parties may deliver cookies to your computer for the purpose of tracking your online behaviors across nonaffiliated Websites and delivering targeted advertisements either on this Website or on other websites. We do not control
    these third parties&#39; tracking technologies or how they may be used.</p>
  <p>You have choices about the collection of information by third parties on this Website. For example, if you don&#39;t want information about your visit to this Website sent to Google Analytics, you may download an Opt-out Browser Add-on
    by
    <a href="https://support.google.com/analytics/answer/181881?hl=en">clicking here</a> . Please note that the Add-on does not prevent information from being sent to Tower City Center. In addition, if you would like to opt-out of having interest-based information collected during your visits to this or
    other websites, please
    <a href="http://www.aboutads.info/choices/">click here</a> . You will be directed to an industry-developed website that contains mechanisms for choosing whether each participating entity may collect and use data for online behavioral advertising purposes. It may be that some
    of the third parties that collect interest-based information on this Website do not participate in the industry-developed opt-out website, in which case the best way to avoid third-party tracking of your online behaviors may be through
    your browser settings and deletion of cookies.</p>
  <p>
    <a class="privacyAnchors" name="UsingPersonalInformation"></a>
    <em>How We Use Personal Information</em>
  </p>
  <p>Generally, we use the Personal Information collected:</p>
  <ul>
    <li>to provide the information, products and services you request;</li>
    <li>to better understand your needs and interests;</li>
    <li>to provide you with a personalized experience when you use this Website;</li>
    <li>to provide you with effective customer service;</li>
    <li>to improve the content, functionality and usability of this Website;</li>
    <li>to contact you with information and notices related to your use of this Website;</li>
    <li>to contact you with special offers and other information we believe will be of interest to you (in accordance with any preferences you have expressed to us);</li>
    <li>to enable third parties to deliver advertisements, promotions and offers relevant to you;</li>
    <li>to invite you to participate in surveys and provide feedback to us (in accordance with any preferences you have expressed to us);</li>
    <li>to improve our products and services;</li>
    <li>to improve our marketing, including targeted marking, and promotional efforts;</li>
    <li>for security, credit or fraud prevention purposes; and</li>
    <li>for any other purpose identified in any other agreement between you and us.</li>
  </ul>
  <p>Please see below for information about the choices you have about the ways we use your Personal Information.</p>
  <p>
    <a class="privacyAnchors" name="YourChoices"></a>
    <em>Your Choices</em>
  </p>
  <p> <em>In General</em> . We respect your right to make choices about the ways we collect, use, and disclose your information. Discussed above are choices you have about delivery of cookies to your computer through this Website. In addition,
    we may ask you to indicate your choices at the time and on the page where you provide your information. For example, we may give you choice about the types of email communications you receive from us and/or our business partners. Likewise,
    before we collect location information from your mobile device, we will ask for your affirmative consent to do so. California Civil Code Section 1798.83 permits users of this site that are California residents to request certain information
    regarding our disclosure of Personal Information to third parties for their direct marketing purposes. To make such a request, please send an e-mail to or write us at: 230 W. Huron Road, Cleveland, OH 44113.</p>
  <p> <em>Email preferences</em> . You cannot opt out of transactional emails related to your membership/registration with this Website. However, you can opt out of promotional emails we send you. If you wish to stop receiving promotional emails,
    simply select &quot;unsubscribe&quot; located at the bottom of each communication.</p>
  <p> <em>Do Not Track Mechanisms</em> . Some states&#39; laws law require that this Policy address how we respond to any &quot;Do-Not-Track (&#39;DNT&#39;) signal&quot; delivered by your browser. As of now, we will endeavor to take steps to
    comply with such requests, but we cannot offer any assurance that such a request can be followed.</p>
  <p> <em>Previously Expressed Preferences</em> . You may change previously expressed preferences regarding how we use your information. If you have registered with this Website or downloaded our mobile app, you may be able to change certain
    privacy preferences through your account settings. Otherwise, if at any time you wish to be taken off our mailing lists, please
    <a href="#ContactInfomation">contact us</a> using the information provided above. Please provide your full name, postal address, and e-mail address so that we can find you on our mailing lists. Once we have the information we need, we will remove you from our mailing
    lists as you have requested. Please give us a reasonable amount of time to honor your request.</p>
  <p>
    <a class="privacyAnchors" name="YourPersonalInformation"></a>
    <em>How to Access, Update or Correct Your Personal Information</em>
  </p>
  <p>If you have registered with this Website or downloaded our mobile app, you may be able to access, update, or correct your information through your account settings. Otherwise, you may need our help. If you wish to access, update, or
    correct your information, please
    <a href="#ContactInfomation">contact us</a> using the information provided above.
    <a href="http://www.towercitycenter.com//contactus">http://www.towercitycenter.com//contactus</a> We will respond to you within a reasonable time and, in any case, within the time limits established by applicable law. We may ask you for additional information to verify your identity.
    In most cases, we will provide access and correct or delete any inaccurate information you discover. In some cases, however, we may limit or deny your request if the law permits or requires us to do so or if we are unable to verify
    your identify.</p>
  <p>
    <a class="privacyAnchors" name="SafeguardingInformation"></a>
    <em>Steps We Take to Safeguard your Personal Information</em>
  </p>
  <p>We maintain reasonable administrative, physical, and technological measures to protect the confidentiality and security of Personal Information you submit on or through this Website. Although we do our best to protect your Personal Information,
    unfortunately, no website, server or database is completely secure or &quot;hacker proof.&quot; We therefore cannot guarantee that your Personal Information will not be disclosed, misused or lost by accident or by the unauthorized
    acts of others. Any transmission of personal information is at your own risk. We are not responsible for circumvention of any privacy settings or security measures contained on the Website.</p>
  <p>
    <a class="privacyAnchors" name="SharingPersonalInformation"></a>
    <em>How We Share Your Personal Information With Others</em>
    <br> <em>Placewise Media.</em>  Mallfinder Network LLC d/b/a Placewise Media powers this Website and manages the information we collect through this Website. As such, Placewise Media helps us with our promotional efforts and conducts surveys
    related both to this Website and your shopping experiences at Tower City Center, among other activities. In addition, we allow Placewise Media to use your information for its own marketing purposes. In particular, Placewise Media operates
    the
    <a href="http://www.shoptopia.com">Shoptopia Network</a>, which is a network of various shopping centers for which Placewise Media powers websites. Placewise Media may use the information you submit on or through this Website to contact you about other malls that we
    own. Placewise Media may also send you e-mails about Shoptopia.com. Please note that by registering on this Website, you are also registering with Shoptopia and will be able to use the same username and password to access the services
    provided through that network.</p>
  <p> <em>Other Third-Party Vendors</em> . We may share information collected through this Website with other third-party vendors who act for or on behalf of Tower City Center. These third-party vendors may need information about you to perform
    their functions. However, they are bound by law or contract to protect your Personal Information and, unlike Placewise Media, are only allowed to use the Personal Information to perform services on our behalf.</p>
  <p> <em>Other Users of this Website.</em> . You may be able to submit User-Generated Content (&quot;UGC&quot;) on or through this Website. Any Personal Information contained in UGC can be read, collected, or used by others. In addition, we
    may use UGC you submit for advertising campaigns and other promotions. By submitting UCG you represent that you have the right to provide such content and to permit our use, display and distribution of it. We may or may not use your
    name in connection with such use, and we may or may not seek your consent before using the content for such purposes. Therefore, you should have no expectation of privacy with respect to UGC you submit on or through this Website.</p>
  <p> <em>Third-Party Social Media Platforms</em> . We may provide functionality on this Website that allows you to automatically post information about the actions you take on this Website to a third-party social media platform (such as Facebook
    or Twitter). If you choose to take advantage of this functionality, people with access to your profile on the third-party platform may be able to see the actions you have taken-for example, the items you have purchased. Thus, you should
    have no expectation of privacy in those actions. Further, if you choose to link your profile on this Website with an account on a third-party social media platform, we may share the information in your profile with that third-party
    platform.</p>
  <p> <em>Other, Carefully Selected Business Partners</em> . From time to time, we may share your information with selected third parties for their own marketing purposes. For example, we may partner with third parties to sponsor contests or
    other promotions, and we may share with these third parties the information you submit to us to participate in the contest or take advantage of the promotion. Before doing so, however, we may offer you the opportunity to &quot;opt
    out&quot; or &quot;opt in,&quot; as required by applicable law.</p>
  <p> <em>Business Transactions</em> . We may decide, for strategic or other reasons, to sell, buy, merge or otherwise reorganize one or more of our businesses. A transaction of this type may involve the disclosure of Personal Information to
    prospective purchasers. In such cases, we will take reasonable measures to protect the Personal Information we disclose, for example, by requiring the prospective purchaser to sign a non-disclosure agreement limiting the use and protecting
    the confidentiality of the Personal Information.</p>
  <p> <em>Business Transfers</em> . Your Personal Information may be transferred to successor organization if, for example, we transfer the ownership or operation of this Website to another organization or if we merge with another organization.
    If such a transfer occurs, the successor organization&#39;s use of your Personal Information will still be subject to this Policy and the privacy preferences you have expressed to us.</p>
  <p> <em>Compliance with Laws and Protection of Our Rights and the Rights of Others</em> . We may disclose your Personal Information when we, in good faith, believe disclosure is appropriate to comply with the law, a court order, or a subpoena.
    We may also disclose your Personal Information to prevent or investigate a possible crime, such as fraud or identity theft; to protect the security of this Website; to enforce or apply our online
    <a href="#TermsOfUseLink#">Terms of Use</a> or other agreements; or to protect our own rights or property or the rights, property or safety of our users or others.</p>
  <p> <em>As Described in a Privacy Notice</em> . We reserve the right to disclose your Personal Information as described in any Privacy Notice posted on the Web page where you provide that information. By providing your personal information
    on that Web page you will be consenting to the disclosure of your personal information as described in that Privacy Notice.</p>
  <p>
    <a class="privacyAnchors" name="Children"></a>
    <em>Children&#39;s Privacy</em>
  </p>
  <p>The Website is not intended for nor targeted to children under the age of 13. However, our kids club program does have information that we provide to parents and activities for children under the age of 13.</p>
  <p> <em>Information Collected</em> . We respect the privacy of children, and only collect information from parents or legal guardians and do not collect any more information than reasonably necessary to enable families to participate in the
    activities we offer through the kids club program. No one under the age of 13 may provide any information to or on our website and we do not knowingly collect personal information from children under the age of 13. If you are under
    the age of 13, do not provide any information on this website or on or through any of its features, register on the website or provide any information about yourself to us. If we learn we have collected or received personal information
    from a child under the age of 13 without verification of parental consent, such information will be deleted.</p>
  <p>In order to join the kids club program, the only information we request from the child&#39;s parent is the child&#39;s first name, last name and birthdate. We also require that the child&#39;s parent enter the parent&#39;s name, mailing
    address, and email address in order to join our kids club, and some of this information may be the same as that of the applicable child.</p>
  <p> <em>Sharing of Children&#39;s Information</em> . The information collected regarding children under the age of 13 is accessible only to PlaceWise Media, our partner shopping center owner or management company, third parties and agents
    who provide support for the internal operations of the Website (e.g., contractors who provide fulfillment services or technical support to the Website). These parties have agreed to maintain security and integrity of personal information.
    We do not have any agreements with outside organizations to collect personal information at our Website.</p>
  <p> <em>Use of Children&#39;s Information</em> . The information we collect in connection with the kids club program is used to allow kids to access games and activities on our kids club program website, and to send newsletters or other information
    regarding our kids club program to parents via U.S. mail and email to the mailing and email addresses provided by the parent.</p>
  <p> <em>Modifying or Deleting Children&#39;s Information</em> . Parents can review the information they have provided about their children online, prevent the further use or maintenance of such information, or direct the deletion of their
    children&#39;s personal information by calling, emailing, or writing to us using the contact information provided above.</p>
  <p>
    <a class="privacyAnchors" name="Links"></a>
    <em>Links to Other Websites</em>
  </p>
  <p>This Website contains links to websites operated by other organizations, including websites operated by our third-party service providers and other third parties. This Policy does not apply to Personal Information collected on any of
    these third-party websites. When you access third-party websites through a link on this Website, please take a few minutes to review the privacy policy posted on that website.</p>
  <p>
    <a class="privacyAnchors" name="PolicyChange"></a>
    <em>This Policy May Change</em>
  </p>
  <p>This Policy describes Tower City Center&#39;s current policies and practices with regard to the information we collect through this Website.</p>
  <p>We are continually improving and adding to the features and functionality of this Website and the services we offer through this Website. As a result of these changes (or changes in the law), we may need to update or revise this Policy.
    Accordingly, we reserve the right to update or modify this Policy at any time, without prior notice, by posting the revised version of this Policy behind the link marked &quot;Privacy Policy&quot; at the bottom of each page of this
    Website. Your continued use of this Website after we have posted the revised Policy constitutes your agreement to be bound by the revised Policy. However, we will honor the terms that were in effect when we gathered data from you.</p>
  <p>For your convenience, whenever this Policy is changed, we will alert you by posting a notice on our home page for sixty days. We will also update the &quot;effective date&quot; at the top of this page. If more than sixty days goes by
    between your visits to this Website, be sure you check the effective date to see if this Policy has been revised since your last visit.</p>
  <p>You may access the current version of this Policy at any time by clicking the link marked &quot;Privacy Policy&quot; at the bottom of each page of this Website.</p>
  <p>
    <a class="privacyAnchors" name="Definitions"></a>
    <em>Definitions</em>
  </p>
  <p> <em>The terms &quot; Tower City Center ,&quot; &quot;we,&quot; &quot;us,&quot; and &quot;our&quot;</em>  refer to Forest City Enterprises .</p>
  <p> <em>The term &quot;Content&quot;</em>  refers to all of the software and code comprising or used to operate this Website, and all of the text, photographs, images, illustrations, graphics, sound recordings, video and audio-video clips,
    and other materials available on this Website, including User-Generated Content.</p>
  <p> <em>The term &quot;Feedback&quot;</em>  refers to the Content you post on or through this Website that is specifically about how we can improve this Website and the products and services we make available through this Website.</p>
  <p> <em>The term &quot;Personal Information&quot;</em>  refers to information that identifies you personally, alone or in combination with other information available to us. Examples of Personal Information include your name, address, and
    e-mail address.</p>
  <p> <em>The term &quot;Policy&quot;</em>  refers to this online privacy policy.</p>
  <p> <em>References to this &quot;Website&quot;</em>  refer to the website owned by Tower City Center and located at
    <a href="http://www.towercitycenter.com/">http://www.towercitycenter.com/</a> .</p>
  <p> <em>The term &quot;User-Generated Content&quot;</em>  refers to all of the text, photographs, images, illustrations, graphics, sound recordings, video, audio-video clips, and other Content that you post on or through this Website using
    the social networking tools we make available to you and that does not constitute Feedback. One way that User-Generated Content differs from other information you provide to us is that, once submitted, User-Generated Content is made
    available instantaneously to others. Examples of User-Generated Content include comments posted to discussion boards or beneath stories available on this Website.</p>
</article>
